<div class="container">
    <p>
<img  src="http://imgs.inkfrog.com/pix/bigwholesale4u/banner-new-1.jpg" style="width:1000px;" />
    </p>
  <div class="row clearfix">
	  <div class="col-md-4 column">
			<img src="http://imgs.inkfrog.com/pix/bigwholesale4u/fan_photo_5.jpg" style="width:100px;" />
			<h2>
				高效的执行力
			</h2>
			<p>
				1.积极反馈<br>
                2.按章办事<br>
                3.说到做到<br>
			</p>

		</div>
		<div class="col-md-4 column">
			<img src="http://imgs.inkfrog.com/pix/bigwholesale4u/fan_photo_12.jpg" style="width:100px;"/>
			<h2>
				卓越的解决问题能力
			</h2>
			<p>
			    1.发现问题 4.根治方案<br>
                2.损失评估 5.阶段执行<br>
                3.精确原因 6.效果反馈<br>

			</p>

		</div>
		<div class="col-md-4 column">
			<img src="http://imgs.inkfrog.com/pix/bigwholesale4u/fan_photo_10.jpg" style="width:100px;"/>
			<h2>
				系统的标准化理念
			</h2>
			<p>
				1.标准化<br>
                2.流程化<br>
                3.制度化<br>
			</p>

		</div>
	</div>
</div>