<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Bootstrap 实例 - 默认的导航栏</title>
	<link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">导航栏</a>
	</div>
	<div>
		<ul class="nav navbar-nav">
			<li class="active"><a target="_blank" rel="nofollow" href="http://www.baidu.com">百度</a></li>
			<li class="active"><a target="_blank" rel="nofollow" href="https://mail.qq.com/cgi-bin/loginpage">QQ邮箱</a></li>
            <li class="active"><a target="_blank" rel="nofollow" href="http://www.ebay.cn/">eBay大学</a></li>
            <li class="active"><a target="_blank" rel="nofollow" href="http://pages.ebay.com/seller-center/seller-updates/2017spring/index.html">eBay美国卖家中心</a></li>
            <li class="active"><a target="_blank" rel="nofollow" href="https://services.amazon.com/selling/pricing.htm/">Aamzon卖家中心</a></li>
            <li class="active"><a target="_blank" rel="nofollow" href="http://www.cifnews.com/">雨果网</a></li>
            <li class="active"><a target="_blank" rel="nofollow" href="http://www.ebay.com">ebayUS站</a></li>
            <li class="active"><a target="_blank" rel="nofollow" href="http://www.ebay.co.uk">ebayUK站</a></li>
            <li class="active"><a target="_blank" rel="nofollow" href="http://www.ebay.de">ebayDE站</a></li>
            <li class="active"><a target="_blank" rel="nofollow" href="http://www.ebay.com.au">ebayAU站</a></li>
				</ul>

	</div>
	</div>
</nav>

</body>
</html>
